<md-toolbar md-colors="{background : 'background'}">
    <div class="md-toolbar-tools" layout="row" layout-align="end center">
        <!--
        <md-button class="md-icon-button" ng-if="isRendered" ng-click="toggleSidenav('sidenav')">
<md-icon style="font-size: 30px;">menu</md-icon>
</md-button>
-->
        <i class="material-icons" style="font-size: 40px; cursor: pointer;" ng-if="isMenuRendered" ng-click="toggleSidenav('sidenav')">menu</i>
        <div class="nav-menu-item" ng-repeat="module in modules" ng-if="!isMenuRendered" ui-sref="{{module.url}}">
            {{module.name}}
        </div>
    </div>
</md-toolbar>

<md-sidenav id="sidenav" md-component-id="sidenav" layout="column" layout-align="center">
    <div class="sidenav-menu-item" ng-repeat="module in modules" ui-sref="{{module.url}}" ng-click="toggleSidenav('sidenav')">
        {{module.name}}
    </div>
</md-sidenav>
