<div layout="row" layout-padding layout-align="center">
    <div flex flex-gt-sm="70" layout="column">
        <div>
            <span class="heading-hash">#</span>
            <span class="heading">About</span>
        </div>
        <div layout="row">
            <div flex layout-padding>
                <div style="width: 400px; float: left; margin-top: 5px;" hide-sm hide-xs>
                    <img style="width: 100%;" ng-src="/asset/images/about.jpg">
                </div>
                <div style="width: 150px; float: left; margin-top: 5px;" hide-gt-sm show-sm show-xs>
                    <img style="width: 100%;" ng-src="/asset/images/about.jpg">
                </div>
                <div class="paragraph">
                    Lorem ipsum dolor sit amet, vis veniam imperdiet definitionem ne. Mel ipsum deseruisse ex, graece definiebas complectitur an pri, usu ea aeque libris. Qui posse debitis probatus ne, cu lorem quando est. Eum probo virtute ut. Adipiscing incorrupte te sed, te per falli facilisis posidonium. Mea et qualisque molestiae referrentur.
                </div>

                <div class="paragraph">
                    Nihil nemore facete usu in, ut rebum nihil graece pro, est civibus legendos laboramus te. Est malis consequat no, ad mea modo omnes iisque. No nec veritus pericula, dico zril cum no, vitae timeam alterum eu per. Latine prompta invidunt cum id, usu dicit oportere ut, sed aeque intellegebat ne. Pro cu exerci primis adolescens. Eos ex hinc elaboraret, qui ne corrumpit inciderint, ei adipisci interpretaris mei. Vix consul feugait alienum in, mutat option gloriatur pro id.
                </div>

                <div class="paragraph">
                    Denique praesent contentiones ne pri. Docendi accusam an nec, sumo sale praesent ius ad. Virtute nostrud ad usu, te vis veniam noster tritani, quod corpora sed ei. Mutat maiorum salutandi an mei, an inani dolorum adversarium qui. Eam iisque tacimates te, ut veri augue duo.
                </div>
            </div>
        </div>
    </div>
</div>

<!--<temp-tattoo-footer></temp-tattoo-footer>-->
