<div flex layout="column">
    <div layout="row" layout-align="none center" class="input-container" layout-padding>
        <i class="material-icons" style="font-size: 25px; color: rgba(0,0,0,.4)">search</i>
        <input flex placeholder="Search" ng-model="keyword" style="margin-right: 5px;">
    </div>
    <md-content layout="row" layout-wrap layout-padding ng-cloak layout-align="center">
        <div ng-repeat="item in items | filter : keyword" layout="column" class="item" layout-margin>
            <!--        <div style="height: 200px; width: 150px; background-position: center;" ng-style="{'background-image': 'url(' + item.image + ')'}">-->

            <div style="height: 350px; width: 250px; background-position: center;">
                <img style="width: 100%;" ng-src="{{item.image}}">
            </div>
            <div>
                <div style="padding-top: 10px; padding-bottom: 10px;">
                    <span class="md-subheader" style="background: rgba(0,0,0,0); font-size: 18px;">{{item.name}}</span>
                </div>
                <span style="font-weight: 300;">
                Quantity: {{item.quantity}}
            </span>
                <div class="add-cart-button" layout="row" layout-align="center" layout-padding style="cursor: pointer;">
                    Add to cart
                </div>
            </div>
        </div>
    </md-content>
</div>
